#topbar {
    border-bottom: 4px solid #cccccc;
    margin-bottom: 25px;
    background-color:#ffffff;
}

#brand {
    color: #ffffff;
    padding: 20px;
    margin-left: 30px;
    background-color: #4aaaa5;
}

#menu {
    float: right;
    margin-left: 70%;
}

/* Begin main content */

body {
    background-image: url(./images/escher.png);
}

#main {
     margin: 10px 30px 10px 30px;
}

#card_head_1 {
    padding: 10px 0px 25px 0px;
    border-bottom: 4px solid #dddddd;
    color: #4aaaa5;
}
#card_head_2 {
    padding: 10px 0px 15px 0px;
    border-bottom: 4px solid #dddddd;
    color: #4aaaa5;
}

#icons {
    text-align: center;
    font-size: 40px;
    padding: 15px 0px 15px 0px;
}

#icon2 {
    color: black;
}

img {
    float: left;
}

/* Begin footer section */

#bottombar {
    margin-top: 250px;
    background-color: #666666;
    border-top: 4px solid #4aaaa5;
}

#bottombartext {
    margin: 0 auto;
    color: #cccccc;
}